<div class="panel-group" id="accordion">
<% for (var i=0 ; i<xml.length; i++) { %>
	<div class="panel panel-default">
    	<div class="panel-heading">
      		
        	<a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i%>">
          		<%= xml[i].boname %>
        	</a>
      		
    	</div>
   		<div id="collapse<%= i%>" class="panel-collapse collapse">
      		<div class="panel-body">
      			<%=  xml[i].content%> 
      		</div>
    	</div>
  	</div>
<% } %>

</div>

