<div class="hero-unit">
	<h1>欢迎来到</h1>
	<p> 这一个基于 Node.js 的元数据定制系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="/display">展示</a>
		<a class="btn btn-large" href="/upload">上传</a>
		<a class="btn btn-large" href="/modify">修改</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>mongoDB</h2>
		<p>MongoDB is a document database that provides high performance, high availability, and easy scalability.</p>
			</div>
	<div class="span4">
		<h2>Express</h2>
		<p>
		Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
	</div>
	<div class="span4">
		<h2>Node.js</h2>
		<p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.。</p>
	</div>
</div>

