<form method="post" enctype="multipart/form-data" action="/file-upload">
<ul>	
	<li><input type="text" name="dbname">
	    <input type="text" name="scname"></li>
	
	<li><input type="file" name="xml" multiple>
		<input type="submit"></li>
</ul>
</form>